:root {
    --blue: #4B75FF;
    --blue-hover: #2E5BEF;
    --robotoo: font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    --border: 1px solid black;
    --rift-text: font-family: rift, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 5px;
    font-variant: small-caps;


}



* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    /* overflow-x: hidden; */
}

*:focus {
    outline: 0 !important;
}

html {
    background-color: #8E9098;
}

#navi-container {
    height: auto;
    width: auto;
    position: fixed;
    right: 50px;
    top: 40px;
    font-size: 4vh;
    line-height: 8vh;
    cursor: pointer;
    text-align: right;
}

#navi-container h1 {
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
}

#navi-container h1:hover {


    color: #B8B7B7;



}


#landing-section {
    width: 100%;
    height: 100vh;
    font-style: var(--rift-text);
    font-size: 50px;
    background-image: url(../img/example-bg-gray.jpg);
    background-size: cover;
    background-position: center;
    animation: zoom 8s linear forwards;

}

.name {
    width: 18vh;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 50px;
    font-family: 'rift';
    color: white;
    line-height: 90px;
    font-size: 160px;
    margin-top: 0;

}

.arrow-container {

    width: 100px;
    height: 100px;

}



.arrow {
    width: 10vh;
    height: 5vh;
    background-image: url(../img/nyille.svg);
    background-position: center;
    background-size: cover;
}

.floating {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    left: 50%;
    top: 80%;

}

.introduction-container {
    width: 100%;
    height: 120vh;
    /* background-color: #4e463e; */
    position: relative;
    z-index: -2;
    overflow: hidden;
    background: rgb(90, 82, 74);
    background: linear-gradient(180deg, rgba(90, 82, 74, 1) 0%, rgba(103, 96, 96, 0.9026961126247374) 100%);


}

#works-container {
    /* margin-bottom: -150px; */
    width: 100%;
    height: 100vh;
    /* opacity: 0.5; */
    display: flex;
    justify-content: space-around;
    align-items: center;



}


.works {
    width: 50vh;
    height: 40vh;
    background-image: url(../img/vale.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.kontener {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    overflow: hidden;
}



.works:hover {
    opacity: 0.8;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);

}


.contact-container {
    width: 100%;
    height: 100vh;
    background-color: #131312;
    display: flex;
    align-items: center;
}

.contact-div {
    border: 1px solid white;
    width: auto;
    height: auto;
    color: white;
    padding-left: 100px;
}

.contact-div h2,
h2 a {
    margin: 50px auto 80px 0;
    color: white;
    text-decoration: none;
}

.icon-container {
    width: 100%;
    border: 1px solid white;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.some {
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    margin: 0 20px;


}

.right-some {
    display: flex;
    right: 10%;
    position: absolute;

}

.introduction-container img {

    position: absolute;
    /* z-index: -2; */
}

.harmincharom {
    background-image: url(../img/33.svg);
    height: 100%;
    width: auto;
    background-position: center;
    background-size: cover;
    position: relative;
    left: 0;
    transform: translateX(-50%);
}

.negyvenegy {
    background-image: url(../img/41.svg);
    height: 40vh;
    width: 48vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 50px;
    top: -1110px;

}

.negyven {
    background-image: url(../img/40.svg);
    height: 35vh;
    width: 39vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 350px;

    top: -160px;
}

.tizenhat {
    background-image: url(../img/16.svg);
    height: 14vh;
    width: 16vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 10%;

    top: -30%;
}

.het {
    background-image: url(../img/hetes.svg);
    height: 24vh;
    width: 30vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 20%;
    top: -370px;
}



.ot {
    background-image: url(../img/5.svg);

    height: 44vh;
    width: 50vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 60%;

    top: -100%;
}

.negyvenketto {
    background-image: url(../img/40.svg);
    height: 44vh;
    width: 50vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: -10%;

    top: -70%;
}

.hat {
    background-image: url(../img/6.svg);
    height: 14vh;
    width: 16vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 50%;

    top: 0%;
}

.huszonkilenc {
    background-image: url(../img/29.svg);
    height: 30vh;
    width: 35vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 550px;

    top: -230px;
}

.huszonkilencplusz {
    background-image: url(../img/29.svg);
    height: 30vh;
    width: 35vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 350px;

    top: -530px;
}

.fedo {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
}

.trumpli {
    background-image: url(../img/trumpli.svg);
    height: 50vh;
    width: 58vh;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}


.hexagon-container {

    width: 750px;
    height: 600px;
    position: absolute;

}

#hex1 {
    width: 190px;
    height: 190px;
    top: 375px;
    left: 415px;
    position: absolute;
    background-image: url(../img/vale.jpg);
}

#hex2 {
    width: 250px;
    height: 250px;
    top: 25px;
    left: 395px;
    position: absolute;

}

#hex3 {
    width: 350px;
    height: 350px;
    top: 150px;
    left: 0px;
    position: absolute;



}


.hexagon-wrapper {
    text-align: center;
    margin: 0px;
    position: relative;
    display: inline-block;
}

.hexagon {
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
    background-color: rgb(10, 40, 59);
}

.hexagon:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}

.hexagon:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}

@keyframes zoom {
    0% {
        background-size: 100% auto;
    }

    100% {
        background-size: 120% auto;
    }
}