:root {
    --border: 1px solid black;
    --middleGrey: #1D1D1D;
    --darkGrey: #151515;
    --rred-hover: #5c212a;
    --rred: #702B35;
    --wwhite: #707070;
    --roboto: 'roboto';
    --rift: 'rift';
    --poppins: 'poppins';
    --ptsans: 'pt sans';
    --gotik: 'league gothic';
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*:focus {
    outline: 0 !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--middleGrey);
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--rred);
}

body {
    background-color: var(--darkGrey);
    overflow-x: hidden;

}

a {
    text-decoration: none;
    text-underline-position: inherit;
}

.logo {
    width: 50px;
    left: 80px;
    top: 50px;
    position: absolute;
}

#navi-container {
    height: auto;
    width: auto;
    position: fixed;
    right: 50px;
    top: 50px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    text-align: right;
    z-index: 2;
    cursor: pointer;

}



#navi-container a,
a h1 {
    font-family: var(--rift);
    font-weight: 500;
    color: white;
    text-decoration: none;


}

#navi-container h1:hover {
    color: #B8B7B7;
}



#landing-page {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

}

.landing-page-bg {
    width: 100%;
    top: 60px;
    position: absolute;
}

#landing-page h1 {
    color: var(--darkGrey);
    font-family: var(--poppins);
    text-transform: capitalize;
    top: 400px;
    position: absolute;
    font-size: 70px;
    animation: dp 6s ease;
    animation-fill-mode: forwards;
    margin: 0;
    animation-delay: 1.5s;
    letter-spacing: 5px;

}

.intro-fd {
    color: white;
    font-family: var(--ptsans);
    top: 490px;
    position: absolute;
    font-size: 30px;
    animation: intro-text 10s infinite;
    animation-fill-mode: forwards;
    margin: 0;
}

.wait {
    display: inline-block;
    color: var(--darkGrey);
    font-family: var(--ptsans);
    top: 490px;
    position: absolute;
    font-size: 30px;
    animation: intro-text-two 10s infinite;
    animation-fill-mode: forwards;
    margin: 0;
    animation-delay: 5s;
}

#projects {
    display: flex;
}

.projects-container {
    margin: auto;
    display: grid;
    grid-gap: 80px;
    padding: 80px 50px 80px 80px;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 500px;
    grid-template-areas:
        "navicreate frost metin";
}



.navicreate-container {
    grid-area: navicreate;
    background-color: var(--middleGrey);
    border-radius: 5px;
}

.frost-container {
    grid-area: frost;
    background-color: var(--middleGrey);
    border-radius: 5px;

}

.metin-container {
    grid-area: metin;
    background-color: var(--middleGrey);
    border-radius: 5px;
}

.project-img-container {
    width: 100%;
    height: 40%;
    background-size: 140%;
    background-position: center;
    cursor: pointer;
    transition: all .5s;

}

.project-img-container:hover {
    /* transform: scale(1.2); */
    background-size: 160%;
}

.navicreate-intro-bg {
    background-image: url(/img/nevicreate-bg.jpg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.frost-intro-bg {
    background-image: url(/img/frost1.jpg);
    bottom: -63px;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.metin-intro-bg {
    background-image: url(/img/metin-bg.jpg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.project-content-container {
    padding: 30px;
    position: relative;

}

.project-content-container h2 {
    font-family: var(--gotik);
    color: var(--rred);
    font-size: 45px;
    margin-bottom: 20px;

}

.project-content-container p {
    font-family: var(--roboto);
    color: var(--wwhite);
    text-align: justify;
    cursor: auto;

}

.ddn {
    display: none;
}

.readmore-btn {
    width: 130px;
    height: 40px;
    background-color: var(--rred);
    border: none;
    font-family: var(--roboto);
    border-radius: 3px;
    right: 30px;
    bottom: -30px;
    position: absolute;
    cursor: pointer;
}

.readmore-btn:hover {
    background-color: var(--rred-hover);
}

#about-me {
    width: 100%;
    height: auto;
    padding-top: 100px;
    display: flex;
    animation: hatteranimation 10s ease-in-out infinite;

    background: radial-gradient(circle, rgba(87, 34, 41, 1) 0%, rgba(28, 13, 15, 1) 22%, rgba(28, 13, 15, 1) 51%, rgba(87, 34, 41, 1) 100%);
    background-size: 400% 400% !important;
}

.about-me-container {

    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 1200px;


}

.about-me-top-container {

    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
    display: flex;

}



.about-me-top-img {
    width: 400px;
    height: auto;
}

.about-me-top-p {
    width: 380px;
    height: 260px;
    font-family: var(--roboto);
    color: var(--wwhite);
    opacity: 0;
    transition: 2s all ease-in-out;
    transform: translateY(40px)
}

.about-me-bottom-container {

    margin: 200px auto 50px auto;
    width: 800px;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.about-me-bottom-img {

    width: 380px;
    height: auto;
}

.about-me-bottom-p {

    width: 380px;
    height: 260px;
    font-family: var(--roboto);
    color: var(--wwhite);
    text-align: end;

    opacity: 0;
    transition: 1.5s all ease-in-out;
    transform: translateY(40px)
}

.about-me-p-show {
    opacity: 1;
    transform: translateY(0);
}























#contact {
    width: 100%;
    height: 230px;
}

#contact ul {
    margin: 100px auto 0px auto;
    list-style-type: none;
    font-family: var(--roboto);
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    width: 800px;

}

#contact ul li a:hover {
    color: var(--rred-hover);
}

#contact ul li a {

    color: white;
    text-decoration: none;
}

.fab {
    font-size: 40px;
}

.icon-container {
    width: 150px;
    display: flex;
    justify-content: space-between;

}

.lastline {
    display: flex;
    justify-content: space-between;
}




@keyframes hatteranimation {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes dp {
    0% {
        left: -10%;
        color: white;
        opacity: .2;
    }


    100% {
        left: 35%;
        color: white;
    }
}

@keyframes intro-text {
    0% {
        right: 10%;
        opacity: 0;
        font-size: 30px;

    }

    20% {
        right: 10%;
        opacity: 0;
        font-size: 30px;

    }


    50% {
        right: 35%;
        opacity: 1;
        font-size: 30px;

    }

    80% {
        right: 110%;
        opacity: 0;
        font-size: 30px;

    }

    100% {
        right: 110%;
        opacity: 0;
        font-size: 30px;
    }
}

@keyframes intro-text-two {
    0% {
        right: 10%;
        opacity: 0;
        color: white;
        font-size: 20px;

    }

    20% {
        right: 10%;
        opacity: 0;
        font-size: 30px;


    }


    50% {
        right: 35%;
        opacity: 1;
        font-size: 30px;


    }

    80% {
        right: 110%;
        opacity: 0;
        color: white;
        font-size: 30px;

    }

    100% {
        right: 110%;
        opacity: 0;
        color: white;
        font-size: 30px;
    }
}

@media only screen and (max-width: 1270px) {

    #about-me {
        height: auto;


    }

    .about-me-container {

        height: auto;
        margin-bottom: 100px;
    }

    .about-me-top-container {
        display: block;
        width: 90%;
    }

    .about-me-bottom-container {
        display: block;
        width: 90%;
        margin-top: 80px;
    }

    .about-me-top-img {
        width: 100%;
        margin: auto;

    }

    .about-me-bottom-img {
        width: 100%;
        margin: auto;
    }

    .about-me-top-p {
        width: 90%;
        margin-top: 20px;
        text-align: center;
    }

    .about-me-bottom-p {
        width: 100%;
        text-align: justify;
        margin-top: 20px;

    }




    .projects-container {
        display: block;
        width: 40%;
        padding: 0;
        height: auto;
    }

    #projects {
        height: auto;
    }

    .projects-container div {

        display: block;

    }

    .project-img-container {
        height: 200px;

    }

    .navicreate-container {
        height: 500px;
        margin-bottom: 90px;
    }

    .metin-container {
        height: 500px;
        margin-bottom: 90px;
    }

    .frost-container {
        height: 500px;
        margin-bottom: 90px;
    }

    .frost-intro-bg {
        background-image: url(/img/frost1.jpg);
        bottom: 0px;
        position: relative;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .mdn {
        display: none !important;
    }

    .ddn {
        display: flex;
    }

    .readmore-btn {
        bottom: -50px;
    }
}

@media only screen and (max-width: 768px) {

    #landing-page {
        height: 50vh;
        ;
    }

    #landing-page h1 {
        font-size: 30px;
        top: 200px;
        transform: translateX(-50%);
    }



    .intro-fd,
    .wait {
        font-size: 0.1px;
        top: 260px;

    }

    .projects-container {

        width: 90%;

    }

    #navi-container {
        display: none;
    }

    #contact {
        display: flex;
        height: 400px;
    }

    #contact ul {
        margin: auto;
        text-align: center;
    }

    .lastline {
        display: block;

    }

    .icon-container {
        margin: 50px auto;
    }



    @keyframes intro-text-two {
        0% {
            right: 10%;
            opacity: 0;
            color: white;
            font-size: 20px;


        }

        20% {
            right: -10%;
            opacity: 0;
            font-size: 20px;



        }


        50% {
            right: 35%;
            opacity: 1;
            font-size: 20px;


        }

        80% {
            right: 110%;
            opacity: 0;
            color: white;
            font-size: 20px;

        }

        100% {
            right: 110%;
            opacity: 0;
            color: white;
            font-size: 20px;
        }
    }

    @keyframes intro-text {
        0% {
            right: -10%;
            opacity: 0;
            font-size: 20px;

        }

        20% {
            right: -10%;
            opacity: 0;
            font-size: 20px;

        }


        50% {
            right: 35%;
            opacity: 1;
            font-size: 20px;

        }

        80% {
            right: 110%;
            opacity: 0;
            font-size: 20px;

        }

        100% {
            right: 110%;
            opacity: 0;
            font-size: 20px;
        }
    }


}