:root {
    --blue: #4B75FF;
    --blue-hover: #2E5BEF;
    --robotoo: font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    --border: 1px solid black;
    --rift-text: font-family: rift, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 5px;
    font-variant: small-caps;


}



* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    /* overflow-x: hidden; */
}

*:focus {
    outline: 0 !important;
}

html {
    background-color: #5a6668;
}

#navi-container {
    height: auto;
    width: auto;
    position: fixed;
    right: 50px;
    top: 40px;
    font-size: 4vh;
    line-height: 8vh;
    cursor: pointer;
    text-align: right;
    z-index: 2;

}

#navi-container a,
a h1 {
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    text-decoration: none;

}

#navi-container h1:hover {


    color: #B8B7B7;



}


#landing-section {
    width: 100%;
    height: 100vh;
    font-style: var(--rift-text);
    font-size: 50px;
    background-image: url(../img/labnyom20190730_141433.jpg);
    background-size: cover;
    background-position: center;
    animation: zoom 14s linear forwards;

}

.name {
    width: 18vh;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 50px;
    font-family: 'rift';
    color: white;
    line-height: 90px;
    font-size: 160px;
    margin-top: 0;

}

.arrow-container {

    width: 100px;
    height: 100px;

}



.arrow {
    width: 10vh;
    height: 5vh;
    background-image: url(../img/nyille.svg);
    background-position: center;
    background-size: cover;
}

.floating {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    left: 50%;
    top: 80%;

}

.introduction-container {
    width: 100%;
    height: 120vh;
    /* background-color: #4e463e; */
    position: relative;
    z-index: -2;
    overflow: hidden;
    /* background: rgb(90, 82, 74); */
    /* background: linear-gradient(180deg, rgba(90, 82, 74, 1) 0%, rgba(103, 96, 96, 0.9026961126247374) 100%); */


}






.kontener {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    overflow: hidden;
}




#contact-container {
    width: 100%;
    height: 100vh;
    background-color: #5a6668;

    position: relative;
    font-family: 'Roboto';

}

.contact-div {

    width: 700px;
    height: auto;
    color: white;
    padding-left: 100px;
    text-align: center;
    bottom: 30%;
    position: absolute;



}

.contact-div h1,
h1 a {
    margin: 140px auto 100px 0;
    color: white;
    text-decoration: none;



}

.icon-container {
    width: 250px;

    height: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 30%;
    right: 20%;
}




.introduction-container img {

    position: absolute;
    /* z-index: -2; */
}

.harmincharom {
    background-image: url(../img/33.svg);
    height: 100%;
    width: auto;
    background-position: center;
    background-size: cover;
    position: relative;
    left: 0;
    transform: translateX(-50%);
}

.negyvenegy {
    background-image: url(../img/41.svg);
    height: 40vh;
    width: 48vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 50px;
    top: -1110px;

}

.negyven {
    background-image: url(../img/40.svg);
    height: 35vh;
    width: 39vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 350px;

    top: -160px;
}

.tizenhat {
    background-image: url(../img/16.svg);
    height: 14vh;
    width: 16vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 10%;

    top: -30%;
}

.het {
    background-image: url(../img/hetes.svg);
    height: 24vh;
    width: 30vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 20%;
    top: -370px;
}



.ot {
    background-image: url(../img/5.svg);

    height: 44vh;
    width: 50vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 60%;

    top: -100%;
}

.negyvenketto {
    background-image: url(../img/40.svg);
    height: 44vh;
    width: 50vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: -10%;

    top: -70%;
}

.hat {
    background-image: url(../img/6.svg);
    height: 14vh;
    width: 16vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 50%;

    top: 0%;
}

.huszonkilenc {
    background-image: url(../img/29.svg);
    height: 30vh;
    width: 35vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 550px;

    top: -230px;
}

.huszonkilencplusz {
    background-image: url(../img/29.svg);
    height: 30vh;
    width: 35vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 350px;

    top: -530px;
}

.fedo {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
}

.trumpli {
    background-image: url(../img/kepnek.jpg);
    height: 60vh;
    width: 35vh;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 280px;
    left: 50vh;
    transform: translateX(-50%)
}

.intro-text {

    font-size: 20px;
    color: white;
    z-index: 6;
    /* height: 300px;*/
    height: 50vh;
    width: 550px;
    position: absolute;
    top: 200px;
    left: 100vh;
    font-family: 'arial';
    font-weight: lighter;
    font-variant: normal;
    line-height: 30px;


}

.dolgozo {


    position: absolute;
    background-position: center;
    background-size: cover;
}

.ein {
    background-image: url(../img/metins.svg);
    height: 270px;
    width: 310px;
    top: 50px;
    left: 415px;
}

.zwei {
    background-image: url(../img/webapp.svg);
    height: 350px;
    width: 400px;
    left: 0px;
    top: 200px;
}


.trei {
    background-image: url(../img/dennis.svg);
    height: 220px;
    width: 250px;
    top: 420px;
    right: 60px;
}


.dolgozo:hover {
    opacity: 0.8;
}

.works-wrapper {

    width: 750px;
    height: 630px;
    position: relative;
    top: 50px;
    transform: translateX(-50%);
    left: 50%;

    margin-bottom: 50px;
}

.check {
    background-image: url(../img/checkout.svg);
    background-size: contain;
    height: 240px;
    width: 90%;
    background-repeat: no-repeat;
    top: 50px;
    left: 100px;
    position: relative;


}

#works-container {
    /* margin-bottom: -150px; */
    width: 100%;
    min-height: 110vh;
    height: auto;
    background-color: #5f7689;
    /* opacity: 0.5; */
}

#hex1 {
    width: 190px;
    height: 190px;
    top: 375px;
    left: 415px;
    position: absolute;
    background-image: url(../img/vale.jpg);
}

#hex2 {
    width: 250px;
    height: 250px;
    top: 25px;
    left: 395px;
    position: absolute;

}

#hex3 {
    width: 350px;
    height: 350px;
    top: 150px;
    left: 0px;
    position: absolute;



}


.hexagon-wrapper {
    text-align: center;
    margin: 0px;
    position: relative;
    display: inline-block;
}

.hexagon {
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
    background-color: rgb(10, 40, 59);
}

.hexagon:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}

.hexagon:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}

div i {

    font-size: 60px;
    color: white;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}

@keyframes zoom {
    0% {
        background-size: 100% auto;
    }

    100% {
        background-size: 120% auto;
    }
}